.nt-ltr {
  animation: ltr 0.5s ease-in-out forwards;
}

@keyframes ltr {
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    right: 5%;
    opacity: 1;
  }
}

.blur-background {
  width: 100%;
  background: rgba(0, 0, 0, 0.317); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

.blur-backgroundGateCard {
  width: 100%;
  background: rgba(35, 35, 35, 0.543); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}
.blur-backgroundGateCard-green {
  width: 100%;
  background: #00fe984e; /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 10 / 6 / 15;
}
.div2 {
  grid-area: 3 / 19 / 8 / 24;
}
.div3 {
  grid-area: 11 / 19 / 16 / 24;
}
.div4 {
  grid-area: 3 / 1 / 8 / 6;
}
.div5 {
  grid-area: 11 / 1 / 16 / 6;
}
.div6 {
  grid-area: 12 / 9 / 18 / 16;
}
