.nt-ltr {
  animation: ltr 0.5s ease-in-out forwards;
}

@keyframes ltr {
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    right: 5%;
    opacity: 1;
  }
}

.blur-background {
  background: rgba(0, 0, 0, 0.317); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

.blur-backgroundGateCard {
  width: 100%;
  background: rgba(35, 35, 35, 0.543); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}
.blur-backgroundGateCard-green {
  width: 100%;
  background: #00fe984e; /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 11 / 2 / 17 / 7;
}
.div2 {
  grid-area: 2 / 2 / 8 / 7;
}
.div3 {
  grid-area: 2 / 18 / 8 / 23;
}
.div4 {
  grid-area: 11 / 18 / 17 / 23;
}
.div5 {
  grid-area: 6 / 10 / 12 / 15;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #4400b1;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
