.nt-ltr {
  animation: ltr 0.5s ease-in-out forwards;
}

@keyframes ltr {
  from {
    right: -20%;
    opacity: 0;
  }
  to {
    right: 5%;
    opacity: 1;
  }
}

.blur-background {
  width: 100%;
  background: rgba(0, 0, 0, 0.317); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

.blur-backgroundGateCard {
  width: 100%;
  background: rgba(0, 0, 0, 0.543); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
