@import "tailwindcss";

@import "tailwindcss";
/* url('/fonts/SulphurPoint-Regular.otf') */
@font-face {
  font-family: "SulphurPoint";
  src: url("/fonts/SulphurPoint-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SulphurPoint";
  src: url("/fonts/SulphurPoint-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SulphurPoint";
  src: url("/fonts/SulphurPoint-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.font-sulphur {
  font-family: "SulphurPoint", sans-serif;
}

@theme {
  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-md: 3rem; /* Added for medium screens */
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

@layer components {
  .container {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
  @media (min-width: 640px) {
    .container {
      padding-left: var(--container-padding-sm);
      padding-right: var(--container-padding-sm);
    }
  }
  @media (min-width: 768px) {
    .container {
      padding-left: var(--container-padding-md);
      padding-right: var(--container-padding-md);
    }
  }
  @media (min-width: 1024px) {
    .container {
      padding-left: var(--container-padding-lg);
      padding-right: var(--container-padding-lg);
    }
  }
  @media (min-width: 1280px) {
    .container {
      padding-left: var(--container-padding-xl);
      padding-right: var(--container-padding-xl);
    }
  }
  @media (min-width: 1536px) {
    .container {
      padding-left: var(--container-padding-2xl);
      padding-right: var(--container-padding-2xl);
    }
  }
}
